*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: inherit;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    background-color: lightsteelblue;

}

.cards {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    column-gap: 20px;
    row-gap: 10px;
   
}

.card {
    /* position: relative; */
}

.card .back-view img {
    height: 80px;
    width: 62px;
    
}

.card .front-view {
    transform: rotateY(0deg);
}

.card .front-view:hover {
    transform: rotateY(180deg);
}

.card .back-view {
    display: none;
    transform: rotateY(-180deg);
}

.card .back-view:hover {
    transform: rotateY(0deg);
}

li {
    list-style: none;
}

.view {
    background-color: burlywood;
    width: 80px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}